// colors

//  primary
$primary__color--text: #323232;
$primary__color--cta-active: #2AA44C;
$primary__color--second-text: #AFAFAF;
$primary__color--bkgd-cta-text: #fff;

// secondary
$secondary__color--video-comp: #000;
$secondary__color--cta-hover: #32BD5A;
$secondary__color--div-line: #E1E1E1;
$secondary__color--form-bkgd: #FAFAFA;

