@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;

.nav {
    @include display-flex(column, none, center);
    padding: 1rem 0 1rem 0;

    @include tablet {
        @include display-flex(row, space-between, center);
        padding: 0.75rem 1.25rem 0.75rem 1.25rem;

        @include desktop {
            max-width: 80rem;
            margin: 0 auto;
        }
    }

    &__logo {
        padding-bottom: 0.75rem;

        @include tablet {
            padding-bottom: 0;
            padding-left: .5rem;
            


        }

        &:hover {
            opacity: 0.5;
        }  
    }

    &__list {
        @include body__mobile;
        @include display-flex(row, center, space-between);
        color: $primary__color--bkgd-cta-text;
        width: 100%;

        @include tablet {
            @include display-flex(row, flex-start, none);
            width: 20%;

        }

        &-link {
            width: 50%;

        }

        &-text { 
            text-align: center;

            &:hover {
                opacity: 0.5;
            }
        }
        
    }
}