@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.header-about {
    background-image: url('../../assets/images/images/about-page.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 180%;
    height: 60vh;
    margin-top:-11rem;
    @include display-flex(column, center, flex-start);

    @include tablet {
        background-position:  40%;
        background-size: cover;
        height: 70vh;

        @include desktop {

        }
    }

    &__container {

        @include desktop {
            max-width: 80rem;
            margin: 0 auto;
            width: 100%;
        }
    }

    &__title {
        @include page-header__mobile;
        color: $primary__color--bkgd-cta-text;
        margin: 2.5rem 0 0 1rem;
        
        @include tablet {
            @include page-header__tablet-desktop;
            margin: 3.5rem 0 0 3rem;

            @include desktop {
                max-width: 80rem;
                margin: 0 auto;
                width: 100%;
                margin: 4.5rem 0 0 5rem;
            }  
        }  
    }
}

.main-about {

    @include desktop {
        max-width: 80rem;
        margin: 0 auto;
        width: 100%;
        padding: 1.5rem 2rem 0 2rem;

    }

    &__container {
        @include display-flex(column, none, center);
        padding: 2rem 1rem 1rem 1rem;

        @include tablet {
            padding: 3rem 1.75rem;
            margin: 0 auto;
            width: 60%;

            @include desktop {
                max-width: 80rem;
                margin: 0 auto;
                width: 60%;
            }
        }   
    }

    &__text {
        @include body__mobile;
        color: $primary__color--text;
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 2.5rem;
        }

        &--green {
            @include body__mobile;
            color: $primary__color--cta-active;
            font-weight: 500;

        }
    }

    &__link {
        @include display-flex(row, center,flex-end);
    
        &-back {
                @include body__mobile;
                color: $primary__color--cta-active;
                bottom: 0;
                width: 10rem;
                height: 1.25rem;
                text-align: center;
                background-image: url('../../assets/images/icons/arrow_back.svg');
                background-position: 1.4375rem 1.25rem; /* Center the image */
                background-repeat: no-repeat;
                cursor: pointer;
                padding: 1rem 1.5rem;
                background-color: $primary__color--bkgd-cta-text;
                box-shadow: -1.25px -1.125px 4px 1px rgba(0, 0, 0, 0.1);
                border-radius: 0.5rem;
    
                &:hover {
                    color: $secondary__color--cta-hover;
                    box-shadow: -1.25px -1.125px 4px 1px rgba(0, 0, 0, .25);
                    border-radius: 0.5rem;
    
                }
    
            }
        }
}
