@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.notFound {
    text-align: center;
    height: 60vh;

    &__title {
        @include page-header__mobile;
        font-size: 5rem;
        color: $primary__color--text;
        margin-top: 10rem;

        @include tablet {
            font-size: 7rem;
            margin-top: 12rem;

            @include desktop {
                margin-top: 12rem;
            }
        }



        &--color {
            color: $primary__color--cta-active;
        }
    }

    &__text {
        @include subheader__mobile;
        font-size: 1rem;
        color: $primary__color--text;
        margin: 1.5rem 0 2.5rem 0;

        @include tablet {
            font-size: 1.5rem;
            margin: 3rem 0 2.5rem 0;
        }

    }

    &__button {
        width: 15rem;
        height: 2.5rem;
        background-color: $primary__color--cta-active;
        color: $primary__color--bkgd-cta-text;
        border-radius: 0.25rem;
        @include labels-buttons__mobile;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        cursor: pointer;

        @include tablet {
            width: 25%;

            @include desktop {
                width: 17%;
            }
        }


        &:hover {
            background-color: $secondary__color--cta-hover;
          }
      

    }


}